body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
  
#jogo {
    background-image: url(./favicons/img.png);
    border: 4px solid cyan;
    border-radius: 8px;

}
  
#btnReduzirVelocidade {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: cyan;
    color:black;
    border-radius: 10px;
    cursor: pointer;
}